################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/MasomodeEX/v15/Server/sqlite3/db.lock
/.vs/MasomodeEX/v15/Browse.VC.opendb
/.vs/MasomodeEX/v15/Browse.VC.db
.vs/*
obj/*